[submodule "external/asm-differ"]
	path = external/asm-differ
	url = https://github.com/cakehonolulu/asm-differ
[submodule "external/splat"]
	path = external/splat
	url = https://github.com/ethteck/splat
[submodule "external/m2c"]
	path = external/m2c
	url = https://github.com/cakehonolulu/m2c
