orig/*
!orig/.gitkeep
container/
assets/

asm/
build/
config/generated.ld
config/discard.ld
config/undefined_funcs_auto.txt
config/undefined_syms_auto.txt

include/include_asm.h
include/labels.inc
include/macro.inc

build.ninja
objdiff.json
.ninja_log
.ninja_deps

tools/compilers/
tools/objdiff-cli
tools/wibo
tools/m2c/
tools/decomp-permuter/

.venv/
venv/
__pycache__/
*.pyc
.vscode/
.idea/
